<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chitter</title>
  </head>

  <body>
    <h1>Welcome to chitter.</h1>

    <form action='/peeps_list'>
    <div class="peeps_button">
      <input type="submit" value="See peeps">
    </div>
    </form>

    <form action='/sign_in'>
      <input type="submit" value="Sign in">
    </form>

  </body>
</html>
